<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <title>Home</title>
        <h1>Bienvenido!</h1>
        <hp>Hoy es: {{ date }}</hp>
        <h2>Gracias por acceder {{ name }}</h2>
        <h3>Turnos:</h3>
        <table>
            <tr>
                <th>title1</th>
                <th>title2</th>
                <th>title3</th>
                <th>title4</th>
                <th>title5</th>
            </tr>
            <tr>
                <td>text 1</td>
                <td>text 2</td>
                <td>text 3</td>
                <td>text 4</td>
                <td>text 5</td>
            </tr>
            <tr>
                <td>text 6</td>
                <td>text 7</td>
                <td>text 8</td>
                <td>text 9</td>
                <td>text 10</td>
            </tr>
            <tr>
                <td>text 11</td>
                <td>text 12</td>
                <td>text 13</td>
                <td>text 14</td>
                <td>text 15</td>
            </tr>
        </table>
        <br>
        <a href="#">Matriculas Nuevos</a>
        <br>
        <a href="#">Matriculas Antiguos</a>
        <br>
        <a href="#">Créditos</a>
    </body>
</html>
